# Ignore all executable files
*.exe

# Ignore temporary files
temp.*
**/temp.*
*.gitignore.exe

# Ignore our run script
run.gitignore

# Ignore system files
.DS_Store
Thumbs.db

# Ignore VS Code settings
.vscode/
*.code-workspace
